<a href="https://colab.research.google.com/github/PedroPavanii/conditional_statements/blob/main/projeto_SHARK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Trabalho de limpeza e apresentações dos dados relativos aos ataques de tubarões no mundo. A cada celula discorro a pergunta chave e como cheguei no resultado com códigos comentados.**

## **Importando as bibliotecas e exibindo a tabela principal de trabalho.**

In [3]:
import pandas as pd
import numpy as np
from google.colab import drive 
drive.mount('/drive')
tabela_shark = pd.read_excel('/drive/MyDrive/Shark/GSAF5.xls')
tabela_shark

Mounted at /drive

## **1) Quais as espécies que mais atacaram no Brasil nos ultimos 10 anos?**

In [186]:


#ESTABELECENDO FILTROS PARA RESPONDER A QUESTÃO ACIMA.
especies_brasil_a = tabela_shark.loc[:,['Country','Species ','Year']]
especies_brasil_b = especies_brasil_a.loc[(especies_brasil_a['Country'] == 'BRAZIL') & (especies_brasil_a['Year'] >= 2003.)] 
especies_c =especies_brasil_b.dropna()



#RETIRANDO TODOS OS NULOS, NOMES DE ESPECIES ERRADOS E VALORES NÃO PERTENCENTES.
especies_d = especies_c[especies_c['Species '].isin(['Lemon shark pup','dogfish','Lemon shark', 'Tiger shark', 'small shark', 'Sandtiger shark','Tiger shark', 'Bull shark',' tiger shark', 'bull shark'])]
especies_final = especies_d.reset_index(drop = True)

#MELHORANDO ESTETICA DA APRESENTAÇÃO DOS VALORES NAS COLUNAS.
especies_final['Species '] = especies_final['Species '].str.title()

#TRADUZINDO AS COLUNAS PARA PORTUGUÊS.
especies_final = especies_final.rename(columns={'Country': 'País', 'Species ': 'Espécies', 'Year': 'Ano'})

#RETIRANDO A COLUNA PAÍS
especies_final = especies_final.drop('País', axis = 1)

especies_final

           Espécies     Ano
0           Dogfish  2021.0
1   Lemon Shark Pup  2019.0
2       Lemon Shark  2019.0
3       Tiger Shark  2018.0
4       Small Shark  2018.0
5   Lemon Shark Pup  2017.0
6   Sandtiger Shark  2016.0
7   Sandtiger Shark  2016.0
8        Bull Shark  2008.0
9       Tiger Shark  2006.0
10       Bull Shark  2004.0
11       Bull Shark  2004.0
12       Bull Shark  2003.0

## **2) Quais as praias do brasil que mais tiveram incidentes?**

In [189]:

#FILTRANDO AS PRAIAS DO BRASIL POR AREA E LOCALIZAÇÃO. RETIRANDO VALORES NULOS E LINHAS COM RESULTADOS NÃO PERTENCENTES.
praias = tabela_shark.loc[:,['Country','Area','Location']]
praias_br = praias.loc[praias['Country'] =='BRAZIL'].dropna().reset_index(drop=True)
praias_br.drop(index =[110, 13, 20, 36], inplace = True)

#REALIZANDO FILTRAGEM, SUBSTITUIÇÃO DE VALORES VISANDO MELHORA ESTETICA E MELHOR VISUALIZAÇÃO
praias_br['Area']= praias_br['Area'].str.replace(r'\.', ' ', regex=True)
praias_br['Location']= praias_br['Location'].str.replace(r',.*', '', regex=True)
praias_br['Location']= praias_br['Location'].str.replace('Punta Del Chifre', 'Praia Del Chifre')
praias_br['Location']= praias_br['Location'].str.replace('Beach', '')
praias_br['Location']= praias_br['Location'].str.replace('beach', '')
praias_br = praias_br.drop('Country', axis=1)


praias_br

               Area           Location
0        Pernambuco           Piedade
1        Pernambuco           Piedade
2        Pernambuco  Praia de Milagres
3        São Paulo          Boqueirão
4        São Paulo            Ubatuba
..              ...                ...
107  Rio de Janeiro        Copacabana
108      Pernambuco            Piedade
109  Rio de Janeiro         Copacabana
111         Alagoas             Maceió
112         Paraiba            Paraiba

[109 rows x 2 columns]